.footer {
    background-color: var(--footer-bg);
    padding: var(--space-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.footer a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.footer img {
    max-width: 28px;
}

.footer p {
    margin-top: .5em;
    font-size: 12px;
    transform: translateX(-5px);
}

/* In your footer.css file */
.footer {
    /* ... existing styles ... */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .language-selector {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .language-selector button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    background-color: #1b060e;
    cursor: pointer;
  }
  
  .language-selector button.active {
    background-color: #070405;
    border: 1px solid #5b74f2;
    font-weight: bold;
  }
  